<h1> All Astronauts </h1>
<p>Average Age: <%= @astronauts.average_age %> </p>
<% @astronauts.each do |astronaut| %>
  <ul>
    <li> Name:<%= astronaut.name %></li>
    <li> Age: <%= astronaut.job %> </li>
    <li>Job: <%= astronaut.age %> </li>
    <% end %>

  </ul>
